---
import Scripts from "../../assets/_scripts.astro";
---

<div class="card">
    <div class="card-body">
        <div class="section-title align-items-end justify-content-between flex-wrap gap-2">
            <span class="title">Burocracia Interna</span>
            <div class="d-flex gap-1">
                <i class="bi bi-clock"></i>
                Ultima atualização: <span>Alex Macedo</span> - <span>07/12/24 15:40</span>
            </div>
        </div>

        <form action="">
            <div class="table-responsive">
                <table class="table table-bordered table-hover text-center table-fixed">
                    <thead>
                        <tr>
                            <th style="width: 100px;">Confirmação</th>

                            <th style="width: 400px;">Descrição da Etapa</th>
                            <th style="width: 120px;">Prazo de Atendimento</th>
                            <th style="width: 160px;">Data de Conclusão</th>
                            <th style="width: 100px;">Status</th>
                            <th style="width: 300px;">Comentário</th>
                            <th style="width: 070px;">Anexo</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <div class="wrapper-icons-checklist">
                                    <label class="btn-checklist">
                                        <input class="checkbox-yesNo" type="checkbox" name="item" data-checkbox="yesNo" value="">
                                        <i class="fa-solid fa-thumbs-up" data-icon="check" data-bs-toggle="tooltip" data-bs-title="Positivar"></i>
                                    </label>
                                </div>
                            </td>

                            <td class="text-start">A empresa está com CNPJ aberto e com nome correto?</td>

                            <td>01/10/2025</td>
                            <td>02/10/2025 - 10:45:00</td>
                            <td class="bg-light text-secondary">Dentro do Prazo</td>
                            <td>
                                <textarea name="" class="form-control" rows="1"></textarea>
                            </td>
                            <td>
                                <a
                                    class="fs-4 text-secondary"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Anexar"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="900"
                                    data-height="700"
                                    href="./popups/anexos/"
                                >
                                    <i class="bi bi-paperclip icon-anexo"></i>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="wrapper-icons-checklist">
                                    <label class="btn-checklist">
                                        <input class="checkbox-yesNo" type="checkbox" name="item" data-checkbox="yesNo" value="">
                                        <i class="fa-solid fa-thumbs-up" data-icon="check" data-bs-toggle="tooltip" data-bs-title="Positivar"></i>
                                    </label>
                                </div>
                            </td>

                            <td class="text-start">Recebeu a documentação para criação do contrato de franquia?</td>
                            <td>01/10/2025</td>
                            <td>02/10/2025 - 10:45:00</td>
                            <td class="bg-success text-white">Concluído</td>
                            <td>
                                <textarea name="" class="form-control" rows="1"></textarea>
                            </td>
                            <td>
                                <a
                                    class="fs-4 text-secondary"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Anexar"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="900"
                                    data-height="700"
                                    href="./popups/anexos/"
                                >
                                    <i class="bi bi-paperclip icon-anexo"></i>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="wrapper-icons-checklist">
                                    <label class="btn-checklist">
                                        <input class="checkbox-yesNo" type="checkbox" name="item" data-checkbox="yesNo" value="">
                                        <i class="fa-solid fa-thumbs-up" data-icon="check" data-bs-toggle="tooltip" data-bs-title="Positivar"></i>
                                    </label>
                                </div>
                            </td>

                            <td class="text-start">Enviou ao jurídico o CNPJ e dados para confecção do contrato?</td>
                            <td>01/10/2025</td>
                            <td>02/10/2025 - 10:45:00</td>
                            <td class="bg-danger text-white">Atrasado</td>
                            <td>
                                <textarea name="" class="form-control" rows="1"></textarea>
                            </td>
                            <td>
                                <a
                                    class="fs-4 text-secondary"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Anexar"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="900"
                                    data-height="700"
                                    href="./popups/anexos/"
                                >
                                    <i class="bi bi-paperclip icon-anexo"></i>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div class="wrapper-icons-checklist">
                                    <label class="btn-checklist">
                                        <input class="checkbox-yesNo" type="checkbox" name="item" data-checkbox="yesNo" value="">
                                        <i class="fa-solid fa-thumbs-up" data-icon="check" data-bs-toggle="tooltip" data-bs-title="Positivar"></i>
                                    </label>
                                </div>
                            </td>

                            <td class="text-start">PDV criado pelo André?</td>

                            <td>01/10/2025</td>
                            <td>02/10/2025 - 10:45:00</td>
                            <td class="bg-light text-secondary">Dentro do Prazo</td>
                            <td>
                                <textarea name="" class="form-control" rows="1"></textarea>
                            </td>
                            <td>
                                <a
                                    class="fs-4 text-secondary"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Anexar"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="900"
                                    data-height="700"
                                    href="./popups/anexos/"
                                >
                                    <i class="bi bi-paperclip icon-anexo"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="wrapper-icons-checklist">
                                    <label class="btn-checklist">
                                        <input class="checkbox-yesNo" type="checkbox" name="item" data-checkbox="yesNo" value="">
                                        <i class="fa-solid fa-thumbs-up" data-icon="check" data-bs-toggle="tooltip" data-bs-title="Positivar"></i>
                                    </label>
                                </div>
                            </td>

                            <td class="text-start">Silmara vinculou à Minha Borelli?</td>

                            <td>01/10/2025</td>
                            <td>02/10/2025 - 10:45:00</td>
                            <td class="bg-light text-secondary">Dentro do Prazo</td>
                            <td>
                                <textarea name="" class="form-control" rows="1"></textarea>
                            </td>
                            <td>
                                <a
                                    class="fs-4 text-secondary"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Anexar"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="900"
                                    data-height="700"
                                    href="./popups/anexos/"
                                >
                                    <i class="bi bi-paperclip icon-anexo"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="wrapper-icons-checklist">
                                    <label class="btn-checklist">
                                        <input class="checkbox-yesNo" type="checkbox" name="item" data-checkbox="yesNo" value="">
                                        <i class="fa-solid fa-thumbs-up" data-icon="check" data-bs-toggle="tooltip" data-bs-title="Positivar"></i>
                                    </label>
                                </div>
                            </td>

                            <td class="text-start">Gabi liberou o valor de compra?</td>

                            <td>01/10/2025</td>
                            <td>02/10/2025 - 10:45:00</td>
                            <td class="bg-light text-secondary">Dentro do Prazo</td>
                            <td>
                                <textarea name="" class="form-control" rows="1"></textarea>
                            </td>
                            <td>
                                <a
                                    class="fs-4 text-secondary"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Anexar"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="900"
                                    data-height="700"
                                    href="./popups/anexos/"
                                >
                                    <i class="bi bi-paperclip icon-anexo"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="wrapper-icons-checklist">
                                    <label class="btn-checklist">
                                        <input class="checkbox-yesNo" type="checkbox" name="item" data-checkbox="yesNo" value="">
                                        <i class="fa-solid fa-thumbs-up" data-icon="check" data-bs-toggle="tooltip" data-bs-title="Positivar"></i>
                                    </label>
                                </div>
                            </td>

                            <td class="text-start">Enviou a política de dívida para o franqueado?</td>

                            <td>01/10/2025</td>
                            <td>02/10/2025 - 10:45:00</td>
                            <td class="bg-light text-secondary">Dentro do Prazo</td>
                            <td>
                                <textarea name="" class="form-control" rows="1"></textarea>
                            </td>
                            <td>
                                <a
                                    class="fs-4 text-secondary"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Anexar"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="900"
                                    data-height="700"
                                    href="./popups/anexos/"
                                >
                                    <i class="bi bi-paperclip icon-anexo"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="wrapper-icons-checklist">
                                    <label class="btn-checklist">
                                        <input class="checkbox-yesNo" type="checkbox" name="item" data-checkbox="yesNo" value="">
                                        <i class="fa-solid fa-thumbs-up" data-icon="check" data-bs-toggle="tooltip" data-bs-title="Positivar"></i>
                                    </label>
                                </div>
                            </td>

                            <td class="text-start">Passou o contato do consultor para o franqueado?</td>

                            <td>01/10/2025</td>
                            <td>02/10/2025 - 10:45:00</td>
                            <td class="bg-light text-secondary">Dentro do Prazo</td>
                            <td>
                                <textarea name="" class="form-control" rows="1"></textarea>
                            </td>
                            <td>
                                <a
                                    class="fs-4 text-secondary"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Anexar"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="900"
                                    data-height="700"
                                    href="./popups/anexos/"
                                >
                                    <i class="bi bi-paperclip icon-anexo"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="wrapper-icons-checklist">
                                    <label class="btn-checklist">
                                        <input class="checkbox-yesNo" type="checkbox" name="item" data-checkbox="yesNo" value="">
                                        <i class="fa-solid fa-thumbs-up" data-icon="check" data-bs-toggle="tooltip" data-bs-title="Positivar"></i>
                                    </label>
                                </div>
                            </td>

                            <td class="text-start">Passou o contato do treinador para o franqueado?</td>

                            <td>01/10/2025</td>
                            <td>02/10/2025 - 10:45:00</td>
                            <td class="bg-light text-secondary">Dentro do Prazo</td>
                            <td>
                                <textarea name="" class="form-control" rows="1"></textarea>
                            </td>
                            <td>
                                <a
                                    class="fs-4 text-secondary"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Anexar"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="900"
                                    data-height="700"
                                    href="./popups/anexos/"
                                >
                                    <i class="bi bi-paperclip icon-anexo"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="wrapper-icons-checklist">
                                    <label class="btn-checklist">
                                        <input class="checkbox-yesNo" type="checkbox" name="item" data-checkbox="yesNo" value="">
                                        <i class="fa-solid fa-thumbs-up" data-icon="check" data-bs-toggle="tooltip" data-bs-title="Positivar"></i>
                                    </label>
                                </div>
                            </td>

                            <td class="text-start">Passou o contato do franqueado para o Filippi configurar o Wifi?</td>

                            <td>01/10/2025</td>
                            <td>02/10/2025 - 10:45:00</td>
                            <td class="bg-light text-secondary">Dentro do Prazo</td>
                            <td>
                                <textarea name="" class="form-control" rows="1"></textarea>
                            </td>
                            <td>
                                <a
                                    class="fs-4 text-secondary"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Anexar"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="900"
                                    data-height="700"
                                    href="./popups/anexos/"
                                >
                                    <i class="bi bi-paperclip icon-anexo"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="wrapper-icons-checklist">
                                    <label class="btn-checklist">
                                        <input class="checkbox-yesNo" type="checkbox" name="item" data-checkbox="yesNo" value="">
                                        <i class="fa-solid fa-thumbs-up" data-icon="check" data-bs-toggle="tooltip" data-bs-title="Positivar"></i>
                                    </label>
                                </div>
                            </td>

                            <td class="text-start">O contrato foi enviado pelo Mioto?</td>

                            <td>01/10/2025</td>
                            <td>02/10/2025 - 10:45:00</td>
                            <td class="bg-light text-secondary">Dentro do Prazo</td>
                            <td>
                                <textarea name="" class="form-control" rows="1"></textarea>
                            </td>
                            <td>
                                <a
                                    class="fs-4 text-secondary"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Anexar"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="900"
                                    data-height="700"
                                    href="./popups/anexos/"
                                >
                                    <i class="bi bi-paperclip icon-anexo"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="wrapper-icons-checklist">
                                    <label class="btn-checklist">
                                        <input class="checkbox-yesNo" type="checkbox" name="item" data-checkbox="yesNo" value="">
                                        <i class="fa-solid fa-thumbs-up" data-icon="check" data-bs-toggle="tooltip" data-bs-title="Positivar"></i>
                                    </label>
                                </div>
                            </td>

                            <td class="text-start">Solicitou as plaquinhas de NPS?</td>

                            <td>01/10/2025</td>
                            <td>02/10/2025 - 10:45:00</td>
                            <td class="bg-light text-secondary">Dentro do Prazo</td>
                            <td>
                                <textarea name="" class="form-control" rows="1"></textarea>
                            </td>
                            <td>
                                <a
                                    class="fs-4 text-secondary"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Anexar"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="900"
                                    data-height="700"
                                    href="./popups/anexos/"
                                >
                                    <i class="bi bi-paperclip icon-anexo"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="wrapper-icons-checklist">
                                    <label class="btn-checklist">
                                        <input class="checkbox-yesNo" type="checkbox" name="item" data-checkbox="yesNo" value="">
                                        <i class="fa-solid fa-thumbs-up" data-icon="check" data-bs-toggle="tooltip" data-bs-title="Positivar"></i>
                                    </label>
                                </div>
                            </td>

                            <td class="text-start">Recebeu as plaquinhas de NPS?</td>

                            <td>01/10/2025</td>
                            <td>02/10/2025 - 10:45:00</td>
                            <td class="bg-light text-secondary">Dentro do Prazo</td>
                            <td>
                                <textarea name="" class="form-control" rows="1"></textarea>
                            </td>
                            <td>
                                <a
                                    class="fs-4 text-secondary"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Anexar"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="900"
                                    data-height="700"
                                    href="./popups/anexos/"
                                >
                                    <i class="bi bi-paperclip icon-anexo"></i>
                                </a>
                            </td>
                        </tr>
                       <tr>
                            <td>
                                <div class="wrapper-icons-checklist">
                                    <label class="btn-checklist">
                                        <input class="checkbox-yesNo" type="checkbox" name="item" data-checkbox="yesNo" value="">
                                        <i class="fa-solid fa-thumbs-up" data-icon="check" data-bs-toggle="tooltip" data-bs-title="Positivar"></i>
                                    </label>
                                </div>
                            </td>

                            <td class="text-start">Verificou a projeção de vendas?</td>

                            <td>01/10/2025</td>
                            <td>02/10/2025 - 10:45:00</td>
                            <td class="bg-light text-secondary">Verificou a projeção de vendas?</td>
                            <td>
                                <textarea name="" class="form-control" rows="1"></textarea>
                            </td>
                            <td>
                                <a
                                    class="fs-4 text-secondary"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Anexar"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="900"
                                    data-height="700"
                                    href="./popups/anexos/"
                                >
                                    <i class="bi bi-paperclip icon-anexo"></i>
                                </a>
                            </td>
                        </tr>                    
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

<Scripts />