<footer class="footer-app p-2">
    <div class="container-fluid">
        <div class="small text-center">
            Implantação Borelli © 2025 | All rights reserved.</span>
        </div>
    </div>
</footer>
