<ul class="nav align-items-center">
    <li class="nav-item dropdown">
        <a
            class="nav-link dropdown-toggle d-flex align-items-center py-0 pe-0 dropdown-toggle-animation"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
        >
            <div class="d-flex align-items-center">
                <i class="bi bi-person-circle fs-3"></i>
                <div class="d-flex flex-column ms-1">
                    <span class="lh-1">Administrador</span>
                    <small class="lh-1">Alex Macedo</small>
                    <small class="lh-1">alex.macedo@gelatoborelli.com</small>
                </div>
            </div>
        </a>

        <ul class="dropdown-menu dropdown-menu-animation dropdown-menu-end p-0 overflow-hidden border-0 shadow">
            <li>
                <a class="dropdown-item" href="/setup/perfil_acesso/">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-person-circle fs-6"></i>
                        <small class="line-height-1 ms-1">Perfil de Acesso</small>
                    </div>
                </a>
            </li>
            <li>
                <a class="dropdown-item" data-fancybox data-type="iframe" data-width="700" data-height="800" href="/setup/alterar_senha/">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-arrow-counterclockwise fs-6"></i>
                        <small class="line-height-1 ms-1">Alterar Senha</small>
                    </div>
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="/login/entry/">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-power fs-6"></i>
                        <small class="line-height-1 ms-1">Sair</small>
                    </div>
                </a>
            </li>
        </ul>
    </li>
</ul>
