<ul class="nav nav-auxiliar">
    <li class="nav-item">
        <a
            class="nav-link py-0"
            data-fancybox
            data-type="iframe"
            data-width="1400"
            data-height="100%"
            href="/modulos/abertura_digitacao/"
        >
            <div class="d-flex flex-column text-center">
                <i class="bi bi-calendar4-week fs-6"></i>
                <span class="lh-1">A. Digitação</span>
            </div>
        </a>
    </li>
</ul>
