---
import Layout from "@layouts/Layout.astro";
import Header from "@includes/header/header.astro";
import "./_card-principal.css";
---

<Layout>
    <header data-el="top-fixed" class="header-app navbar navbar-expand-xl">
        <div class="d-flex flex-column w-100">
            <Header />
        </div>
    </header>

    <main data-el="main-app" class="main-app">
        <section class="container-fluid">
            <div class="slide-in-blurred-top principal-cards">
                <!-- <div class="col-card">
                    <a class="link-card" href="/modulos/dashboard/">
                        <figure>
                            <div class="content-icon">
                                <i class="bi bi-clipboard-data text-app-green-400"></i>
                            </div>

                            <strong>Em Construção</strong>
                        </figure>
                        <h4 class="bg-app-green-400">Dashboard</h4>
                    </a>
                </div> -->

                <div class="col-card">
                    <a class="link-card" href="/modulos/acompanhamento/status/">
                        <figure>
                            <div class="content-icon">
                                <i class="bi bi-file-earmark-check text-app-green-400"></i>
                            </div>
                        </figure>
                        <h4 class="bg-app-green-400">Acompanhamento</h4>
                    </a>
                </div>
            </div>
        </section>
    </main>
</Layout>


