---
interface Props {
    col?: string;
}

const { col } = Astro.props;

const valuesSelect = [
    {
        value: "1",
        name: "Consultor 1",
    },
    {
        value: "2",
        name: "Consultor 2",
    },
    {
        value: "3",
        name: "Consultor 3",
    },
    {
        value: "4",
        name: "Consultor 4",
    },
    {
        value: "5",
        name: "Consultor 5",
    },
];
---

<label class={col}>Consultor:
    <select name="consultor" id="" class="form-select" required>
        <option value=""></option>
        {
            valuesSelect.map(({ value, name }) => (
                <option value={value}>{name}</option>
            ))
        }
    </select>
</label>
