<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Listagem</span>
        </div>

        <table class="table table-bordered table-hover text-center table-fixed tab-datatable-scroll-x" style="width: 100%;">
            <thead>
                <tr>
                    <th style="width: 250px;">Arquivos</th>
                    <th style="width: 080px;" class="no-sort">Del</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="text-start">
                        <a data-bs-toggle="tooltip" data-bs-title="Donwload" download="foto_01" href="/assets/images/tapume.jpg">Foto 01</a>
                    </td>
                    <td>
                        <a class="text-secondary fs-5" data-bs-toggle="tooltip" data-bs-title="Del" data-row="delete" href="#">
                            <i class="bi bi-trash icon-tab"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
