---
import Head from "@includes/head.astro";
import ContentForm from "./_content-form.astro";
import ContentScripts from "./_content-scripts.astro";
import "./_assets/validPassword.css"
---

<!doctype html>
<html lang="pt-br">
    <head>
        <Head />
    </head>

    <body class="body-popup">
        <form method="POST" id="" action="" data-js="form">
            <ContentForm />
        </form>

        <ContentScripts />

        <!--
        <script is:inline src="./_assets/btnShowPassword.js"></script>
        <script is:inline src="./_assets/validPassword.js"></script>
        -->
    </body>
</html>
