<div class="card">
    <div class="card-body">
        <h5 class="title-chart">Quantidade de Projetos</h5>

        <div class="box-chart" id=""></div>
    </div>
</div>

<script is:inline>

</script>
