---
import Layout from '@layouts/Layout.astro';
import Header from '@includes/header/header.astro';
import BtnPrincipal from '@components/Btns/BtnPrincipal.astro';
import ContentSelecao from './_content-selecao.astro'
import ChartQtdProjetos from './_chart-qtd-projetos.astro';
import ChartQtdEtapa from './_chart-qtd-etapa.astro';
import ChartAtividadesAtrasadasLoja from './_chart-atividades-atrasadas-loja.astro';
import ChartPercentualProntasTodo from './_chart-percentual-prontas-todo.astro';
import ChartPercentualProntasDiaAtrasadas from './_chart-percentual-prontas-dia-atrasadas.astro';
---

<style is:inline>
    .title-chart{
        text-align: center;
    }
</style>

<Layout>
    <Header />

    <script is:inline src="/assets/vendor/amcharts4/core.js"></script>
    <script is:inline src="/assets/vendor/amcharts4/charts.js"></script>
    <script is:inline src="/assets/vendor/amcharts4/animated.js"></script>

    <main data-el="main-app" class="main-app">
        <section class="container-fluid">
            <nav aria-label="breadcrumb" class="breadcrumb-app">
                <div class="d-flex align-items-center justify-content-between gap-1">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="/principal/" data-bs-toggle="tooltip" data-bs-title="Principal">
                                <i class="bi bi-house-fill"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>

                    <BtnPrincipal />
                </div>
            </nav>
        </section>

        <section class="container-fluid">
            <ContentSelecao />

            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <ChartQtdProjetos />
                </div>
                
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <ChartQtdEtapa />
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4">
                    <ChartAtividadesAtrasadasLoja />
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4">
                    <ChartPercentualProntasTodo />
                </div>

                <div class="col-xl-4 col-lg-4 col-md-4">
                    <ChartPercentualProntasDiaAtrasadas />
                </div>
            </div>
        </section>
    </main>
</Layout>
