/* ////////////////////////////////////////////////////////////////////
variables
class text color
class bg color

//////////////////////////////////////////////////////////////////// */

/* --------------------------------------------------------------------
variables
---------------------------------------------------------------------- */
:root{

    --color-app-black-400: #151515;
    --color-app-black-500: #121212;
    --color-app-black-600: #111111;

    --color-app-green-400: #606a55;
    --color-app-green-500: #374d29;
}

/* --------------------------------------------------------------------
class text color
---------------------------------------------------------------------- */
.text-app-green-400   { color: var(--color-app-green-400);}
.text-app-green-500   { color: var(--color-app-green-500);}

/* --------------------------------------------------------------------
class bg color
---------------------------------------------------------------------- */
.bg-app-green-400   { background-color: var(--color-app-green-400);}
.bg-app-green-500   { background-color: var(--color-app-green-500);}


.bg-secondary-400 { background-color: var(--bs-gray-400)!important;}
