<footer class="footer-app">
    <div class="container my-auto text-center">
        <p class="fs-6 fw-light">
            Implantação Borelli © 2025 <span class="mx-1">|</span> All rights reserved.
        </p>
    </div>
</footer>
