<form method="POST" action="">
    <div class="mb-4">
        <label>
            <select name="ano" class="form-select py-2" required="">
                <option value="2025" selected="">2025</option>
            </select>
        </label>

        <label>
            <input
                type="email"
                name="login"
                class="form-control py-2"
                placeholder="e-mail"
                autocomplete="username"
                required=""
                value="alex.macedo@gelatoborelli.com"
            >
        </label>

        <label>
            <input
                type="password"
                name="senha"
                class="form-control py-2"
                id="password"
                placeholder="senha"
                autocomplete="current-password"
                required=""
                value="12345678"
            >

            <span class="btn-showPass" data-bs-toggle="tooltip" data-bs-title="mostrar/esconder senha">
                <i class="bi bi-lock"></i>
            </span>
        </label>
    </div>

    <!-- <button type="submit" class="btn btn-primary w-100 py-2 mb-3">Entrar</button> -->

    <a class="btn btn-primary w-100 py-2 mb-3" href="../../principal/">Entrar</a>

    <a class="d-block text-center text-muted py-2" href="#">
        <small>Esqueceu a senha?</small>
    </a>
</form>
