<div class="card">
	<div class="card-body">
		<div class="title-section">Listagem:</div>

        <form method="POST" action="">
            <table class="table table-bordered table-hover text-center table-fixed tab-datatable-scroll-x" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="width: 060px;">ID</th>
                        <th style="width: 150px;">Regional</th>
                        <th style="width: 170px;">Unidade</th>
                        <th style="width: 120px;">Consultor</th>
                        <th style="width: 140px;">Usuário</th>
                        <th style="width: 140px;">Data Criação</th>

                        <th style="width: 090px;" class="no-sort">Iniciar / Visualizar</th>
                        <th style="width: 100px;" class="no-sort">Status</th>
                        <th style="width: 080px;" class="no-sort">Cancelar</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Regional SP</td>
                        <td>Caraguatatuba</td>
                        <td>Ana Claudia</td>
                        <td>Vinicius</td>
                        <td>02/12/2024</td>

                        <td>
                            <div class="d-flex justify-content-center gap-3">
                                <a
                                    class="text-secondary fs-5"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Visualizar"
                                    href="../checklist/tabs/projeto/"
                                >
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </div>
                        </td>
                        <td class="bg-warning text-black">Em Andamento</td>
                        <td>
                            <a
                                class="text-secondary fs-5"
                                data-bs-toggle="tooltip"
                                data-bs-title="Cancelar"
                                data-fancybox=""
                                data-type="iframe"
                                data-width="800"
                                data-height="360"
                                href="./popups/cancelar/"
                            >
                                <i class="bi bi-x-circle text-danger"></i>
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Regional SP</td>
                        <td>Caraguatatuba</td>
                        <td>Ana Claudia</td>
                        <td>Vinicius</td>
                        <td>03/12/2024</td>

                        <td>
                            <div class="d-flex justify-content-center gap-3">
                                <a
                                    class="text-secondary fs-5"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Iniciar"
                                    href="../checklist/tabs/projeto/"
                                >
                                    <i class="bi bi-play-circle"></i>
                                </a>
                            </div>
                        </td>
                        <td class="bg-secondary-400 text-secondary">Não Iniciada</td>
                        <td>
                            <a
                                class="text-secondary fs-5"
                                data-bs-toggle="tooltip"
                                data-bs-title="Cancelar"
                                data-fancybox=""
                                data-type="iframe"
                                data-width="800"
                                data-height="360"
                                href="./popups/cancelar/"
                            >
                                <i class="bi bi-x-circle text-danger"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
