---
import Layout from '@layouts/Layout.astro';
import Header from '@includes/header/header.astro';
import BtnPrincipal from '@components/Btns/BtnPrincipal.astro';
import ContentInfo from '../../_content-info.astro'
import ContentTabs from '../../_content-tabs.astro'
import ContentForm from './_content-form.astro'

import '../../assets/_styles.css'
---

<Layout>
    <Header />

    <main data-el="main-app" class="main-app">
        <section class="container-fluid">
            <nav aria-label="breadcrumb" class="breadcrumb-app">
                <div class="d-flex align-items-center justify-content-between gap-1">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="/principal/" data-bs-toggle="tooltip" data-bs-title="Principal">
                                <i class="bi bi-house-fill"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Projetos</li>
                        <li class="breadcrumb-item">
                            <a href="../../../status/">Status</a>
                        </li>
                        <li class="breadcrumb-item">Checklist</li>
                        <li class="breadcrumb-item active" aria-current="page">Enxoval e Insumos</li>
                    </ol>

                    <BtnPrincipal />
                </div>
            </nav>
        </section>

        <section class="container-fluid">
            <ContentInfo />
            <ContentTabs />

            <ContentForm />
        </section>
    </main>
</Layout>
