<div class="card">
    <div class="card-body p-2">
        <div class="d-flex flex-wrap align-items-center gap-2">
            <form>
                <label class="d-flex align-items-center gap-2 mb-0">
                    <strong class="text-nowrap">Data Prevista de Inauguração:</strong>
                    <input type="date" name="data_prevista_inauguracao" class="form-control" style="max-width: 260px;">
                </label>
            </form>


            <div class="flex-grow-1">
                <div class="d-flex justify-content-center gap-2">
                    <span class="badge text-bg-dark fw-normal fs-6">Unidade: Caraguatatuba</span>
                    <span class="badge text-bg-dark fw-normal fs-6">Consultor: Ana Claudia</span>
                    <span class="badge text-bg-dark fw-normal fs-6">Tipo: Shopping</span>
                </div>
            </div>
        </div>
    </div>
</div>
