<div class="card">
    <div class="card-body p-2">
        <div class="d-flex align-items-center gap-2">
            <div class="flex-grow-1">
                <div class="d-flex gap-2">
                    <span class="badge text-bg-secondary fw-normal">Unidade: Caraguatatuba</span>
                    <span class="badge text-bg-secondary fw-normal">Consultor: Ana Claudia</span>
                    <span class="badge text-bg-secondary fw-normal">Tipo: Shopping</span>
                </div>
            </div>
        </div>
    </div>
</div>
