<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Listagem</span>
        </div>

        <table class="table table-bordered table-hover text-center table-fixed" id="tab-datatable" style="width:100%;">
			<thead>
				<tr>
					<th style="width: 250px;">Nome</th>
					<th style="width: 250px;">E-mail</th>
					<th style="width: 150px;">Tipo Usuário</th>
					<th style="width: 200px;">Último Acesso</th>
					<th style="width: 080px;" class="no-sort">Status</th>
					<th style="width: 080px;" class="no-sort">Edit</th>
					<th style="width: 080px;" class="no-sort">Del</th>
				</tr>
			</thead>

            <tbody>
				<tr>
					<td class="text-left">Vinícius Gabriel Cardoso</td>
					<td>vinicius.cardoso@gelatoborelli.com</td>
					<td>Administrador</td>
					<td>01/04/2025 10:29:39</td>
					<td>
						<i
                            class="changestatus bi bi-toggle-on text-success fs-5"
                            data-bs-toggle="tooltip"
                            data-bs-title="Ativo"
                            data-value="1"
                            data-id="df1e4dc7-ca6d-46c8-98d0-042bb0f44a69"
                            id="status_df1e4dc7-ca6d-46c8-98d0-042bb0f44a69">
                        </i>
					</td>

					<td>
                        <a
                            id=""
                            class="text-success fs-5"
                            data-bs-toggle="tooltip"
                            data-bs-title="Edit"
                            data-fancybox
                            data-type="iframe"
                            data-width="90%"
                            data-height="100%"
                            href="popups/novo/">
                            <i class="bi bi-person-fill-gear"></i>
                        </a>
                    </td>

					<td>
                        <a
                            id=""
                            class="text-danger fs-5"
                            data-bs-toggle="tooltip"
                            data-bs-title="Del"
                            data-row="delete"
                            href="popups/novo/">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
				</tr>
            </tbody>
        </table>
    </div>
</div>

<script is:inline>
	$(document).ready(function () {
		$('#tab-datatable').DataTable({
			"order": [
				[0, "asc"],
			],
			"ordering": true,
			"paging": true,
			"info": true,
			"scrollX": true,
			"scrollCollapse": true,

			"lengthMenu": [
				[10, 20, 30, 50, 80, -1],
				[10, 20, 30, 50, 80, "Tudo"]
			],

			"pageLength": 20,

			"columnDefs": [{
				targets: "no-sort",
				orderable: false
			}, ],

			"language": {
				"url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Portuguese-Brasil.json"
			},
		});

		$('[data-row="delete"]').click(function(e) {
            if (!confirm('Você tem certeza que deseja excluir?'))
            { return false;}
        });

		$(".changestatus").click(function (e) {
			var id = $(this).attr("data-id");
			var data = Number($(this).attr("data-value"));
			var msg = "Tem certeza que deseja inativar o Usuário?";
			var status = "0";

			if (data == 0) {
				msg = "Tem certeza que deseja ativar o Usuário?";
				status = "1";
			}

			if (confirm(msg)) {
				$.ajax({
					method: "POST",
					url: "muda_status.asp",
					data: {
						id: id,
						status: status
					}
				}).done(function (msg) {});

				if (data == 1) {
					$(this).attr("class", "changestatus bi bi-toggle-off text-secondary fs-5");
					$(this).attr("data-bs-title", "Inativo");
					$(this).attr("data-value", status);
					$("#edit_" + id).hide();
					$("#del_" + id).hide();
				} else {
					$(this).attr("class", "changestatus bi bi-toggle-on text-success fs-5");
					$(this).attr("data-bs-title", "Ativo");
					$(this).attr("data-value", status);
					$("#edit_" + id).show();
					$("#del_" + id).show();
				}
			}
		});
	});
</script>
