<div class="card">
    <div class="card-body">
        <div class="section-title align-items-end justify-content-between gap-2">
            <span class="title">Seleção</span>

            <a class="btn btn-success btn-icon mb-1" data-fancybox data-type="iframe" data-width="90%" data-height="100%" href="./popups/novo/">
                <i class="bi bi-person-plus"></i> Novo Usuário
            </a>
        </div>

        <form method="" action="">
            <div class="row">
                <label class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6">Regional:
                    <select id="" name="regional" class="selectpicker" multiple data-actions-box="true" data-live-search="true" data-width="100%">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </label>

                <label class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6">Unidade:
                    <select id="" name="unidade" class="selectpicker" multiple data-actions-box="true" data-live-search="true" data-width="100%">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </label>

                <label class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6">Tipo:
                    <select id="" name="tipo" class="selectpicker" multiple data-actions-box="true" data-live-search="true" data-width="100%">
                        <option value="1">Administrador</option>
                        <option value="2">Gerente</option>
                        <option value="3">Consultor</option>
                        <option value="4">Franqueado</option>
                    </select>
                </label>

                <div class="col-xxl-3 col-xl-3 col-lg-12 col-md-12 col-sm-12">
                    <div class="label-clearfix last-xl"></div>
                    <button type="submit" class="btn btn-primary btn-last-xl">Ok</button>
                </div>
            </div>
        </form>
    </div>
</div>
