<div class="card">
    <div class="card-body">
        <div class="section-title align-items-end justify-content-between flex-wrap gap-2">
            <span class="title">RH</span>
            <div class="d-flex gap-1">
                <i class="bi bi-clock"></i>
                Ultima atualização: <span>Alex Macedo</span> - <span>07/12/24 15:40</span>
            </div>
        </div>

    </div>
</div>
