<div class="card">
    <div class="card-body">
        <div class="section-title">
            <span class="title">Anexos</span>
        </div>

        <form method="POST" id="" action="">
            <div class="d-flex align-items-center flex-wrap gap-2">
                <label class="flex-grow-1">
                    Anexar a carta CNPJ:
                    <input
                        type="file"
                        class="form-control"
                        id=""
                        name="anexo"
                        required
                        >
                    </input>
                </label>

                <div class="d-flex justify-content-end pt-3 gap-2">
                    <button
                        type="submit"
                        data-btn="spinner"
                        class="btn btn-primary">
                        <span>Salvar</span>
                        <span class="btn-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
