---
import Head from '@includes/head.astro';
import ContentForm from './_content-form.astro';
import ContentListagem from './_content-listagem.astro';

---

<!DOCTYPE html>
<html lang="pt-br">
	<head>
        <Head />
	</head>

	<body class="body-popup">
        <ContentForm />
        <ContentListagem />
	</body>
</html>
