---
import Head from '@includes/head.astro';
import ContentFranqueado from './_content-franqueado.astro';
import ContentConsultor from './_content-consultor.astro';
import Scripts from './_scripts.astro';
---

<!DOCTYPE html>
<html lang="pt-br">
	<head>
        <Head />
	</head>

	<body class="body-popup">
        <form method="" action="">
            <ContentFranqueado />
            <ContentConsultor />

            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary btn-last-lg">Salvar</button>
                    </div>
                </div>
            </div>
        </form>

        <Scripts />
	</body>
</html>
